<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timothy"
        tools:targetApi="31">
        <activity
            android:name=".Walkthrough.WalkthroughActivity"
            android:exported="false" />
        <activity
            android:name=".Walkthrough.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Policies.AcceptTermsAndConditionsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Policies.AcceptPrivacyPolicyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddBackgroundActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Policies.PrivacyPolicyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Policies.TermsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CropperActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageChooseActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageFullscreenActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImagePresentationActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Intro.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ImageCombinerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ImagePickerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>